body {
    background-image: url('../img/Flos-V8-Cafe.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

.header {
    text-align: center;
    color: white;
}

.create-form {
    text-align: center
}

ul {
    text-align: center;
}

#form-container{
    margin-top: 50px;
}

label {
    font-size: 25px;
}

#title-div {
    margin-top: 80px;
}